.MainMenuItem {
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.2s all;
}

.MainMenuItem:active {
  background-color: gray;
}

@media (any-hover: hover) {
  .MainMenuItem:hover {
    background-color: lightgray;
  }
}
